<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
</head>
<body>
<div th:fragment="content">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>价目表</h1>
		<ol class="breadcrumb">
			<li class="active">产品管理</li>
			<li class="active">价目表</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-header with-border">
				<form th:action="@{/priceList/list}" method="get" target="_self">
					<input type="hidden" id="pageNoField" name="pageno" />
					<div class="form-inline">
						<label class="form-label">名称</label>
						<input class="form-control" type="text" name="name" th:value="${inputPriceListName}" />
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-default btn-sm">查询</button>
						<a href="#" th:href="@{/priceList/list}" class="btn btn-default btn-sm">重置</a>

						<div class="pull-right">
							<a href="#" th:attr="data-url=@{/priceList/edit(id=0,mode='create')}" class="btn btn-primary btn-sm" onclick="return createOrEditPriceList(event, true)">新建</a>
						</div>
					</div>
				</form>
			</div>

			<div class="box-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>投放商</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
					<tr th:each="priceList : ${priceLists}">
						<td th:text="${priceList.id}"></td>
						<td th:text="${priceList.name}"></td>
						<td th:text="${priceList.company?.name}"></td>
						<td th:text="${priceList.createTime == null ? '' : #calendars.format(priceList.createTime, 'yyyy-MM-dd HH:mm')}"></td>
						<td>
							<a href="#" style="margin-right:5px">
								<i class="fa fa-fw fa-eye"
								   th:attr="data-url=@{/priceList/edit(id=${priceList.id},mode='view')}"
								   onclick="return viewPriceList(event, true)"
								   title="查看">
								</i>
							</a>
							<a href="#">
								<i class="fa fa-fw fa-pencil"
								   th:attr="data-url=@{/priceList/edit(id=${priceList.id},mode='edit')}"
								   onclick="return createOrEditPriceList(event, true)"
								   title="编辑">
								</i>
							</a>
						</td>
					</tr>
				</table>
			</div>

			<div class="box-footer clearfix" th:include="pager :: content(${pager}, 'pageNoField')">
			</div>
		</div>
	</section>

	<script src="../../static/js/product.js" th:src="@{/js/product.js}"></script>
</div>
</body>
</html>
