<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
</head>
<body>
<div th:fragment="content">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>订单列表</h1>
		<ol class="breadcrumb">
			<li class="active">业务管理</li>
			<li class="active">订单列表</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div id="orderStatRow" class="row" style="margin: 0 -5px -5px -5px" th:fragment="order_stat">
			<div class="order_stat_box">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h4>当天</h4>
						<h4>支付订单数量</h4>

						<p th:text="${orderCount_today}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-bag"></i>
					</div>
				</div>
			</div>
			<div class="order_stat_box">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h4>当天</h4>
						<h4>打印张数</h4>

						<p th:text="${printPageCount_today}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-android-print"></i>
					</div>
				</div>
			</div>
			<div class="order_stat_box">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h4>当天</h4>
						<h4>收款金额</h4>

						<p th:text="${#numbers.formatDecimal(income_today / 100.0, 1, 'DEFAULT', 2, 'DEFAULT') + '元'}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-cash"></i>
					</div>
				</div>
			</div>

			<div class="order_stat_box">
				<div class="small-box bg-green">
					<div class="inner">
						<h4>近三天</h4>
						<h4>支付订单数量</h4>

						<p th:text="${orderCount_lastThreeDays}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-bag"></i>
					</div>
				</div>
			</div>
			<div class="order_stat_box">
				<div class="small-box bg-green">
					<div class="inner">
						<h4>近三天</h4>
						<h4>打印张数</h4>

						<p th:text="${printPageCount_lastThreeDays}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-android-print"></i>
					</div>
				</div>
			</div>
			<div class="order_stat_box">
				<div class="small-box bg-green">
					<div class="inner">
						<h4>近三天</h4>
						<h4>收款金额</h4>

						<p th:text="${#numbers.formatDecimal(income_lastThreeDays / 100.0, 1, 'DEFAULT', 2, 'DEFAULT') + '元'}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-cash"></i>
					</div>
				</div>
			</div>

			<div class="order_stat_box">
				<div class="small-box bg-yellow">
					<div class="inner">
						<h4>当月</h4>
						<h4>支付订单数量</h4>

						<p th:text="${orderCount_month}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-bag"></i>
					</div>
				</div>
			</div>
			<div class="order_stat_box">
				<div class="small-box bg-yellow">
					<div class="inner">
						<h4>当月</h4>
						<h4>打印张数</h4>

						<p th:text="${printPageCount_month}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-android-print"></i>
					</div>
				</div>
			</div>
			<div class="order_stat_box">
				<div class="small-box bg-yellow">
					<div class="inner">
						<h4>当月</h4>
						<h4>收款金额</h4>

						<p th:text="${#numbers.formatDecimal(income_month / 100.0, 1, 'DEFAULT', 2, 'DEFAULT') + '元'}"></p>
					</div>
					<div class="icon">
						<i class="ion ion-cash"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="box-header with-border">
				<input type="hidden" id="refreshUrl" th:value="@{/printOrder/list}"/>
				<input type="hidden" id="refreshStatUrl" th:value="@{/printOrder/stat}"/>

				<form th:action="@{/printOrder/list}" method="get" target="_self">
					<input type="hidden" id="pageNoField" name="pageno" />
					<input type="hidden" name="partial" value="false" />
					<input type="hidden" name="query" value="true" />
					<div class="form-inline">
						<th:block sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_EPSON')">
							<label class="form-label" for="inputCompanyId">投放商</label>
							<select name="inputCompanyId" class="form-control" id="inputCompanyId" style="margin-right: 10px">
								<option value="0">&lt;所有投放商&gt;</option>
								<option th:each="company : ${companies}"
										th:value="${company.id}"
										th:text="${company.name}"
										th:selected="${inputCompanyId == company.id}">
								</option>
							</select>
						</th:block>
						<label class="form-label" for="inputPositionId">店面</label>
						<select name="inputPositionId" class="form-control" id="inputPositionId">
							<option value="0">&lt;所有店面&gt;</option>
							<option th:each="position : ${positions}"
									th:value="${position.id}"
									th:text="${position.name}"
									th:selected="${inputPositionId == position.id}">
							</option>
						</select>
						<label class="form-label" for="inputPrintStationId" style="margin-left: 10px">自助机</label>
						<select id="printStationCache" style="display:none">
							<option th:each="printStation : ${allPrintStations}"
									th:attr="data-position-id=${printStation.positionId}"
									th:value="${printStation.id}"
									th:text="${printStation.name == '' ? '自助机' + printStation.id : printStation.name}">
							</option>
						</select>
						<select name="inputPrintStationId" class="form-control" id="inputPrintStationId">
							<option value="0">&lt;所有自助机&gt;</option>
							<option th:class="${'pid_' + printStation.positionId}" th:each="printStation : ${printStations}"
									th:value="${printStation.id}"
									th:text="${printStation.name == '' ? '自助机' + printStation.id : printStation.name}"
									th:selected="${inputPrintStationId == printStation.id}">
							</option>
						</select>

						<label class="form-label" for="inputTimeRange" style="margin-left: 10px">时间</label>
						<select name="inputTimeRange" class="form-control" id="inputTimeRange">
							<option value="1" th:selected="${inputTimeRange == 1}">当天</option>
							<option value="2" th:selected="${inputTimeRange == 2}">近三天</option>
							<option value="3" th:selected="${inputTimeRange == 3}">本周</option>
							<option value="4" th:selected="${inputTimeRange == 4}">本月</option>
							<option value="5" th:selected="${inputTimeRange == 5}">自定义</option>
						</select>
						<div class="input-group date timeRange">
							<input class="form-control pull-right" style="width:8em" id="startTime" name="inputStartTime" type="text" th:value="${inputStartTime}" />
						</div>
						到
						<div class="input-group date timeRange">
							<input class="form-control pull-right" style="width:8em" id="endTime" name="inputEndTime" type="text" th:value="${inputEndTime}" />
						</div>

						<button type="submit" class="btn btn-default btn-sm" style="margin-left: 10px">查询</button>
						<a href="#" th:href="@{/printOrder/list}" class="btn btn-default btn-sm" style="margin-left: 10px">重置</a>
						<a href="#" id="exportOrderListButton" class="btn btn-info btn-sm" style="margin-left: 10px" th:attr="data-url=@{/printOrder/export}">导出</a>

						<div class="pull-right" th:if="${query==false}">
							<label class="toggle" style="margin-top: 8px; margin-right: 5px">
								<input id="autoRefresh" type="checkbox" />
								<span></span>
								自动刷新
							</label>
						</div>
					</div>
				</form>
			</div>

			<th:block th:fragment="order_list_content">
			<div id="printOrderListTable" class="box-body">
				<div class="row" th:classappend="${query ? 'query' : ''}">
					<span class="order_list_stat">交易额&nbsp;<span th:text="${turnOver}"></span>&nbsp;元</span>
					<span class="order_list_stat"><span th:text="${photoCopies}"></span>&nbsp;张照片</span>
					<span class="order_list_stat"><span th:text="${orderCount}"></span>&nbsp;份订单</span>
				</div>

				<table class="table table-bordered table-striped">
					<tr>
						<th style="width:50px">ID</th>
						<th style="width:120px">编号</th>
						<th style="width:120px">创建时间</th>
						<th style="width:80px">自助机</th>
						<th style="width:80px">店面</th>
						<th style="width:100px">用户</th>
						<th style="width:100px">总价-折扣(元)</th>
						<th style="width:120px">转账时间</th>
						<th style="width:100px">转账金额/手续费(元)</th>
						<th style="width:50px">收款人</th>
						<th style="width:120px">状态</th>
						<th style="width:80px">操作</th>
					</tr>
					<tr th:each="orderWrapper : ${printOrders}">
						<td th:text="${orderWrapper.order.id}"></td>
						<td th:text="${orderWrapper.order.orderNo}"></td>
						<td th:text="${orderWrapper.order.createTime == null ? '' : #calendars.format(orderWrapper.order.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${orderWrapper.order.printStationId}"></td>
						<td th:text="${orderWrapper.position.name}"></td>
						<td th:text="${orderWrapper.userName}"></td>
						<td>
                            <span th:text="${#numbers.formatDecimal(orderWrapper.order.totalFee / 100.0, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                            <span th:if="${orderWrapper.order.discount != 0}">-</span>
                            <span th:if="${orderWrapper.order.discount != 0}" th:text="${#numbers.formatDecimal(orderWrapper.order.discount / 100.0, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                        </td>
                        <td th:text="${orderWrapper.transferRecord == null ? '' : #calendars.format(orderWrapper.transferRecord.transferTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td>
							<th:block th:if="${orderWrapper.transferRecordItem != null}">
							<span th:text="${#numbers.formatDecimal(orderWrapper.transferRecordItem.amount / 100.0, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
							<span th:if="${orderWrapper.transferRecordItem.charge != 0}">/</span>
							<span th:if="${orderWrapper.transferRecordItem.charge != 0}" th:text="${#numbers.formatDecimal(orderWrapper.transferRecordItem.charge / 100.0, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
							</th:block>
						</td>
						<td th:text="${orderWrapper.transferRecord?.receiverName}"></td>
						<td style="font-size:0">
							<div th:unless="${orderWrapper.order.payed}" class="order_status un_payed" title="未支付"></div>
							<div th:if="${orderWrapper.order.payed}" class="order_status payed" title="已支付"></div>

							<div th:unless="${orderWrapper.order.imageFileUploaded}" class="order_status un_uploaded" title="图片未上传完"></div>
							<div th:if="${orderWrapper.order.imageFileUploaded}" class="order_status uploaded" title="图片已上传完" ></div>

							<div th:unless="${orderWrapper.order.downloadedToPrintStation}" class="order_status un_downloaded" title="订单未下载到自助机"></div>
							<div th:if="${orderWrapper.order.downloadedToPrintStation}" class="order_status downloaded" title="订单已下载到自助机"></div>

							<div th:unless="${orderWrapper.order.printedOnPrintStation}" class="order_status un_printed" title="未打印"></div>
							<div th:if="${orderWrapper.order.printedOnPrintStation}" class="order_status printed" title="已打印"></div>

							<div th:unless="${orderWrapper.order.transfered}" class="order_status un_transfered" title="未转账"></div>
							<div th:if="${orderWrapper.order.transfered}" class="order_status transfered" title="已转账"></div>
						</td>
						<td>
							<a href="#" style="margin-right:5px">
								<i class="fa fa-fw fa-eye"
								   th:attr="data-url=@{/printOrder/detail(id=${orderWrapper.order.id})}"
								   onclick="return viewPrintOrderDetail(event)"
								   title="查看详情">
								</i>
							</a>
							<a href="#" th:if="${orderWrapper.order.transfered}" style="margin-right:5px">
								<i class="fa fa-jpy"
								   th:attr="data-url=@{/printOrder/transferDetail(id=${orderWrapper.order.id})}"
								   onclick="return viewPrintOrderTransferDetail(event)"
								   title="转账详情">
								</i>
							</a>
							<a href="#" th:if="${orderWrapper.order.imageFileUploaded}">
								<i class="fa fa-print"
								   th:attr="data-url=@{/printOrder/reprint(printOrderId=${orderWrapper.order.id})}"
								   onclick="return reprintOrder(event)"
								   title="重新打印订单">
								</i>
							</a>
						</td>
					</tr>
				</table>
			</div>

			<div id="printOrderListTablePager" class="box-footer clearfix" th:include="pager :: content(${pager}, 'pageNoField')"></div>
			</th:block>
		</div>
	</section>
	<script src="../../static/js/order.js" th:src="@{/js/order.js}"></script>
	<script type="text/javascript">
		var refreshUrl = document.getElementById("refreshUrl").value;
		var pageNo = document.getElementById("pageNoField").value;
		startRefresh(refreshUrl, pageNo);

		var refreshStatUrl = document.getElementById("refreshStatUrl").value;
		startRefreshStat(refreshStatUrl);
	</script>
</div>
</body>
</html>
