<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
</head>
<body>
<div th:fragment="content">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>自助机列表</h1>
		<ol class="breadcrumb">
			<li class="active">业务管理</li>
			<li class="active">自助机</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-header with-border">
				<form th:action="@{/printStation/allList}" method="get" target="_self">
					<input type="hidden" id="pageNoField" name="pageno" />
					<div class="form-inline">
						<label class="form-label" for="inputCompanyId">投放商</label>
						<select name="inputCompanyId" class="form-control" style="width:200px" id="inputCompanyId" th:attr="data-query-url=@{/company/query}">
							<option th:if="${company == null}" value="0" selected="selected">所有投放商</option>
							<option th:unless="${company == null}" selected="selected" th:value="${company.id}" th:text="${company.name}"></option>
						</select>
						&nbsp;&nbsp;
						<label class="form-label" for="inputPositionId">店面</label>
						<select name="inputPositionId" class="form-control" style="width:150px" id="inputPositionId" th:attr="data-query-url=@{/position/query}">
							<option th:if="${position == null}" value="0" selected="selected">所有店面</option>
							<option th:unless="${position == null}" selected="selected" th:value="${position.id}" th:text="${position.name}"></option>
						</select>
						&nbsp;&nbsp;
						<label class="form-label" for="inputName">名称</label>
						<input class="form-control" type="text" style="width:100px" id="inputName" name="inputName" th:value="${inputName}" />
						&nbsp;&nbsp;
						<label class="form-label" for="inputPrintStationId">ID</label>
						<input class="form-control" type="text" style="width:80px" id="inputPrintStationId" name="inputPrintStationId" th:value="${inputPrintStationId}" />
						&nbsp;&nbsp;
						<label class="form-label" for="inputPrinterModel">打印机型号</label>
						<input class="form-control" type="text" style="width:100px" id="inputPrinterModel" name="inputPrinterModel" th:value="${inputPrinterModel}" />
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-default btn-sm">查询</button>
						<a href="#" th:href="@{/printStation/allList}" class="btn btn-default btn-sm">重置</a>
						<a href="#" id="exportPrintStationListButton" class="btn btn-info btn-sm" style="margin-left: 10px" th:attr="data-url=@{/printStation/export}">导出</a>

						<div class="pull-right">
							<a href="#" th:attr="data-url=@{/printStation/activate(allCompany=true)}" class="btn btn-primary btn-sm" onclick="return activatePrintStation(event)">新建</a>
						</div>
					</div>
				</form>
			</div>

			<div class="box-body">
				<div class="row">
					<span class="order_list_stat">自助机数量&nbsp;&nbsp;&nbsp;<span th:text="${printStationCount}"></span></span>
				</div>

				<table class="table table-bordered table-striped">
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th style="width:200px">投放商</th>
						<th style="width:200px">店面</th>
						<th>分账比例</th>
						<th>指定打印机类型</th>
						<th>打印机型号</th>
						<th>纸张</th>
						<th>打印机状态</th>
						<th>在线状态</th>
						<th>软件版本</th>
						<th>广告</th>
						<th>操作</th>
					</tr>
					<tr th:each="ps : ${printStations}">
						<td th:text="${ps.printStation.id}"></td>
						<td th:text="${ps.printStation.name}"></td>
						<td th:text="${ps.printStation.company?.name}"></td>
						<td th:text="${ps.printStation.position.name}"></td>
						<td th:text="${#numbers.formatDecimal(ps.printStation.transferProportion / 10.0, 1, 'DEFAULT', 1, 'DEFAULT') + '%'}"></td>
						<td th:text="${ps.printerTypeDisp}"></td>
						<td>
							<th:block th:if="${ps.printStation.rollPaper != null}">
								<span style="vertical-align:middle" th:if="${ps.printStation.rollPaper == true}" class="label label-warning" title="卷纸">卷</span>
								<span style="vertical-align:middle" th:if="${ps.printStation.rollPaper == false}" class="label label-primary" title="单张纸">单</span>
							</th:block>
							<span style="vertical-align:middle" th:text="${ps.printStation.printerModel}"></span>
						</td>
						<td style="white-space:nowrap" th:text="${ps.paperSizeDisp}"></td>
						<td>
							<th:block th:switch="${ps.printStation.status}">
								<span th:case="0" class="label label-success">正常</span>
								<span th:case="1" class="label label-default">打印机脱机</span>
								<span th:case="2" class="label label-warning">耗材用完</span>
							</th:block>
						</td>
						<td>
							<span th:if="${ps.online}" class="label label-success">在线</span>
							<span th:unless="${ps.online}" class="label label-default">离线</span>
						</td>
						<td th:text="${ps.printStation.lastLoginVersion}"></td>
						<td th:text="${ps.printStation.adSet?.name}"></td>
						<td>
							<a href="#" th:href="@{/printStation/qrCode/} + ${ps.printStation.id}" target="_blank" style="margin-right:5px">
								<i class="fa fa-fw fa-qrcode"
								   data-dlgtitle="自助机二维码"
								   title="二维码">
								</i>
							</a>
							<a href="#" style="margin-right:5px">
								<i class="fa fa-fw fa-pencil"
								   th:attr="data-url=@{/printStation/edit(id=${ps.printStation.id})}"
								   onclick="return editPrintStation(event)"
								   title="编辑">
								</i>
							</a>
							<a href="#">
								<i class="fa fa-upload"
								   th:attr="data-url=@{/printStation/uploadLogFile(printStationId=${ps.printStation.id})}"
								   onclick="return confirmUploadLogFile(event)"
								   title="上传日志文件">
								</i>
							</a>
						</td>
					</tr>
				</table>
			</div>

			<div class="box-footer clearfix" th:include="pager :: content(${pager}, 'pageNoField')">
			</div>
		</div>
	</section>

	<script src="../../static/js/printStation.js" th:src="@{/js/printStation.js}"></script>
	<script src="../../static/js/kjua.min.js" th:src="@{/js/kjua.min.js}"></script>
</div>
</body>
</html>
