<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
</head>
<body>
<div th:fragment="content">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>自助打印机列表</h1>
		<ol class="breadcrumb">
			<li class="active">产品管理</li>
			<li class="active">自助打印机</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-header with-border">
				<form th:action="@{/printStation/list}" method="get" target="_self">
					<input type="hidden" id="pageNoField" name="pageno" />
					<div class="form-inline">
						<label class="form-label">编号</label>
						<input class="form-control" type="text" name="sn" th:value="${inputPrintStationSn}" />
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-default btn-sm">查询</button>
						<a href="#" th:href="@{/printStation/list}" class="btn btn-default btn-sm">重置</a>

						<div class="pull-right">
							<a href="#" th:attr="data-url=@{/printStation/edit(id=0,mode='create')}" class="btn btn-primary btn-sm" onclick="return createOrEditPrintStation(event, true)">新建</a>
						</div>
					</div>
				</form>
			</div>

			<div class="box-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>ID</th>
						<th>投放商</th>
						<th>投放地点</th>
						<th>打印机型号</th>
						<th>状态</th>
						<th>在线状态</th>
						<th>软件版本</th>
						<th>广告</th>
						<th>操作</th>
					</tr>
					<tr th:each="ps : ${printStations}">
						<td th:text="${ps.printStation.id}"></td>
						<td th:text="${ps.printStation.company?.name}"></td>
						<td th:text="${ps.printStation.position.name}"></td>
						<td th:text="${ps.printStation.printerType}"></td>
						<td>
							<th:block th:switch="${ps.printStation.status}">
								<span th:case="0" class="label label-success">正常</span>
								<span th:case="1" class="label label-danger">故障</span>
								<span th:case="2" class="label label-warning">耗材用完</span>
							</th:block>
						</td>
						<td>
							<span th:if="${ps.online}" class="label label-success">在线</span>
							<span th:unless="${ps.online}" class="label label-default">离线</span>
						</td>
						<td th:text="${ps.version}"></td>
						<td th:text="${ps.printStation.adSet?.name}"></td>
						<td>
							<a href="#" style="margin-right:5px">
								<i class="fa fa-fw fa-qrcode"
								   th:attr="data-qrcode=${ps.printStation.wxQrCode}"
								   onclick="return showPrintStationQrCode(event, true)"
								   title="二维码">
								</i>
							</a>
							<a href="#">
								<i class="fa fa-fw fa-pencil"
								   th:attr="data-url=@{/printStation/edit(id=${ps.printStation.id},mode='edit')}"
								   onclick="return createOrEditPrintStation(event, true)"
								   title="编辑">
								</i>
							</a>
						</td>
					</tr>
				</table>
			</div>

			<div class="box-footer clearfix" th:include="pager :: content(${pager}, 'pageNoField')">
			</div>
		</div>
	</section>

	<script src="../../static/js/product.js" th:src="@{/js/product.js}"></script>
	<script src="../../static/js/qrcode.min.js" th:src="@{/js/qrcode.min.js}"></script>
</div>
</body>
</html>
