<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
</head>
<body>
<div th:fragment="content">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>自助打印机列表</h1>
		<ol class="breadcrumb">
			<li class="active">产品管理</li>
			<li class="active">自助打印机</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-header with-border">
				<form th:action="@{/printStation/list}" method="get" target="_self">
					<input type="hidden" id="pageNoField" name="pageno" />
					<div class="form-inline">
						<label class="form-label">编号</label>
						<input class="form-control" type="text" name="sn" th:value="${inputPrintStationSn}" />
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-default btn-sm">查询</button>
						<a href="#" th:href="@{/printStation/list}" class="btn btn-default btn-sm">重置</a>

						<div class="pull-right">
							<a href="#" th:attr="data-url=@{/printStation/edit(id=0,mode='create')}" class="btn btn-primary btn-sm" onclick="return createOrEditPrintStation(event, true)">新建</a>
						</div>
					</div>
				</form>
			</div>

			<div class="box-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>ID</th>
						<th>微信二维码</th>
						<th>投放商</th>
						<th>投放地点</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
					<tr th:each="printStation : ${printStations}">
						<td th:text="${printStation.id}"></td>
						<td th:text="${printStation.wxQrCode}"></td>
						<td th:text="${printStation.company?.name}"></td>
						<td th:text="${printStation.position.name}"></td>
						<th:block th:switch="${printStation.status}">
							<td th:case="0">正常</td>
							<td th:case="1">离线</td>
							<td th:case="2">故障</td>
							<td th:case="3">耗材用完</td>
						</th:block>
						<td>
							<a href="#" th:attr="data-qrcode=${printStation.wxQrCode}" onclick="return showPrintStationQrCode(event, true)" style="padding-right:5px">二维码</a>
							<a href="#" th:attr="data-url=@{/printStation/edit(id=${printStation.id},mode='edit')}" onclick="return createOrEditPrintStation(event, true)">编辑</a>
						</td>
					</tr>
				</table>
			</div>

			<div class="box-footer clearfix" th:include="pager :: content(${pager}, 'pageNoField')">
			</div>
		</div>
	</section>

	<script src="../../static/js/product.js" th:src="@{/js/product.js}"></script>
	<script src="../../static/js/qrcode.min.js" th:src="@{/js/qrcode.min.js}"></script>
</div>
</body>
</html>
