<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
</head>
<body>
<div th:fragment="content">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>自助机列表</h1>
		<ol class="breadcrumb">
			<li class="active">业务管理</li>
			<li class="active">自助机</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box">
			<div class="box-header with-border">
				<form th:action="@{/printStation/list}" method="get" target="_self">
					<input type="hidden" id="pageNoField" name="pageno" />
					<div class="form-inline">
						<label class="form-label" for="inputPositionId">店面</label>
						<select name="inputPositionId" class="form-control" id="inputPositionId">
							<option value="0">所有店面</option>
							<option th:each="position : ${positions}"
									th:value="${position.id}"
									th:text="${position.name}"
									th:selected="${inputPositionId == position.id}">
							</option>
						</select>
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-default btn-sm">查询</button>
						<a href="#" th:href="@{/printStation/list}" class="btn btn-default btn-sm">重置</a>

						<div class="pull-right">
							<a href="#" th:attr="data-url=@{/printStation/activate}" class="btn btn-primary btn-sm" onclick="return activatePrintStation(event)">新建</a>
						</div>
					</div>
				</form>
			</div>

			<div class="box-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>投放商</th>
						<th>店面</th>
						<th>分账比例</th>
						<th>打印机型号</th>
						<th>状态</th>
						<th>在线状态</th>
						<th>软件版本</th>
						<th>广告</th>
						<th>操作</th>
					</tr>
					<tr th:each="ps : ${printStations}">
						<td th:text="${ps.printStation.id}"></td>
						<td th:text="${ps.printStation.name}"></td>
						<td th:text="${ps.printStation.company?.name}"></td>
						<td th:text="${ps.printStation.position.name}"></td>
						<td th:text="${#numbers.formatDecimal(ps.printStation.transferProportion / 10.0, 1, 'DEFAULT', 1, 'DEFAULT') + '%'}"></td>
						<td th:text="${ps.printStation.printerType}"></td>
						<td>
							<th:block th:switch="${ps.printStation.status}">
								<span th:case="0" class="label label-success">正常</span>
								<span th:case="1" class="label label-default">打印机脱机</span>
								<span th:case="2" class="label label-warning">耗材用完</span>
							</th:block>
						</td>
						<td>
							<span th:if="${ps.online}" class="label label-success">在线</span>
							<span th:unless="${ps.online}" class="label label-default">离线</span>
						</td>
						<td th:text="${ps.printStation.lastLoginVersion}"></td>
						<td th:text="${ps.printStation.adSet?.name}"></td>
						<td>
							<a href="#" style="margin-right:5px">
								<i class="fa fa-fw fa-qrcode"
								   data-dlgtitle="自助机二维码"
								   th:attr="data-qrcode=${ps.printStation.wxQrCode}"
								   onclick="return showQrCode(event)"
								   title="二维码">
								</i>
							</a>
							<a href="#" style="margin-right:5px">
								<i class="fa fa-fw fa-pencil"
								   th:attr="data-url=@{/printStation/edit(id=${ps.printStation.id})}"
								   onclick="return editPrintStation(event)"
								   title="编辑">
								</i>
							</a>
							<a href="#">
								<i class="fa fa-key"
								   th:attr="data-url=@{/printStation/editPassword(id=${ps.printStation.id})}"
								   onclick="return editPrintStationPassword(event)"
								   title="修改密码">
								</i>
							</a>
						</td>
					</tr>
				</table>
			</div>

			<div class="box-footer clearfix" th:include="pager :: content(${pager}, 'pageNoField')">
			</div>
		</div>
	</section>

	<script src="../../static/js/printStation.js" th:src="@{/js/printStation.js}"></script>
	<script src="../../static/js/kjua.min.js" th:src="@{/js/kjua.min.js}"></script>
</div>
</body>
</html>
